[2019-11-28 00:47] fergusstrange opened #1 "Add coveralls"
Add coveralls and badge for code coverage report

[2019-11-28 00:48] fergusstrange opened #2 "Add go linter"
Add golangci lint tool and plug in PR comments.

[2019-11-28 00:49] fergusstrange opened #3 "Document public methods for API docs"

[2019-11-28 00:49] fergusstrange opened #4 "Generate API docs and host on Github pages"
Ensure that these are published as part of CI flow

[2019-11-28 00:50] fergusstrange opened #5 "More examples"
Create examples for the following

- Basic use
- Use with migrations
- Use with a few SQL libraries
- Use as part of a wider webapp flow

[2019-11-28 00:51] fergusstrange opened #6 "Platform Tests"
Create a separate test suite module to test on Windows, OSX and Linux using Actions running a quick smoke test of one of each of the major available Postgres versions.

[2019-11-28 00:52] fergusstrange opened #7 "Plug in Go Report Card"
Add Go Report Card badge

[2019-11-28 00:55] fergusstrange opened #8 "Extensive README"
- [x] Document basic use

- [x] Link to examples

- [x] Link to API Docs

- [x] Contribution guidelines

- [x] License

- [x] Inspiration links

- [x] Running tests

- [x] Command line link

[2019-11-28 00:55] fergusstrange opened #9 "Create CLI, release process and documentation on use"

[2019-11-28 00:56] fergusstrange opened #10 "Add Nancy vulnerability scanner"

[2019-11-28 00:58] fergusstrange opened #11 "Add custom logger for postgres output"

[2019-11-30 23:59] #1 closed

[2019-12-01 00:00] #7 closed

[2019-12-05 23:53] #6 closed

[2019-12-08 10:33] #8 closed

[2019-12-08 10:33] #4 closed

[2019-12-08 10:33] #3 closed

[2019-12-08 10:33] #2 closed

[2019-12-08 23:25] fergusstrange commented on #10
Awaiting release of https://github.com/mholt/archiver/pull/203

[2019-12-09 01:17] #5 closed

[2020-11-15 16:59] hasibulhsn commented on #11
Any plan to do that soon?
The postgres output is messing up my test output in verbose mode.

[2020-11-23 08:02] fergusstrange commented on #11
Hi @hsblhsn,

The project is open for pull requests to add this feature if you fancy having a crack, otherwise I will try to look into something in the next few weeks and loop you in for comment.

Thanks

[2020-12-15 17:27] erichanson opened #15 "cleanup deleted my project"
The cleanup just deleted my whole project because I set RuntimePath to `./` and apparently the Stop method deletes the entire directory?  Luckily version control, but I lost all my certs and an hour or so of work.  Cool project, but this was a pretty big surprise and a major foot-gun.

[2020-12-16 13:05] erichanson commented on #15
Dug into this a bit more.  It isn't cleanup that does the deleting, it's the` Start()` method, which calls [`os.RemoveAll()`](https://github.com/fergusstrange/embedded-postgres/blob/master/embedded_postgres.go#L70).

What do you think of the idea of splitting up Start into two methods, one that initializes the new database and one that starts the server?  Specifically, I'm trying to use this to pe

[2021-01-03 01:20] fergusstrange commented on #15
Apologies for the slow reply!

Yes something like this sounds good. I'd like to maintain backward compatibility and avoid a major version bump however so it might be worth looking into adding something along the lines of `StartWithoutClean()` and a `Clean()`?

Best thing to do is get up some code and we can work through it together. I should be a little more speedy on replies now as well into the

[2021-01-03 20:26] erichanson commented on #15
I made some local modifications, just to get it working for myself:

https://github.com/erichanson/embedded-postgres

It was pretty easy, but it isn't backwards compatible though.  I'd like to see an API that had all the steps broken out into their own methods:
- check for existing installation at specified path
- install the server files
- start the server
- create the database
- stop the databas

[2021-01-06 06:51] fergusstrange commented on #15
All of the above sounds very reasonable. Have a crack at manipulating your fork and see if we can come up with something? Assuming all methods are new and the `Start()` and `Stop()` API remain unchanged from the surface then this should be backward compatible!

Looking forward to what you come up with and give me a shout if you want to collaborate on the pull request 👍

[2021-01-06 06:51] #9 closed

[2021-01-28 11:18] #11 closed

[2021-02-02 07:24] thetruechar opened #17 "Unable to run in official docker golang:1.15"
unable to init database using: /root/.embedded-postgres-go/extracted/bin/initdb -A password -U postgres -D /root/.embedded-postgres-go/extracted/data --pwfile=/root/.embedded-postgres-go/extracted/pwfile

[2021-02-03 00:54] fergusstrange commented on #17
Hi @thetruechar, thanks for takign the time to report an issue.

Can you be specific about the error you receive? I suspect this could be todo with file permissions?

Thanks

[2021-02-08 02:46] thetruechar commented on #17
FROM golang:1.15
RUN go test ./...

it will produce the error, it probably caused by the root user in the container.

[2021-02-15 01:05] fergusstrange commented on #17
Hi @thetruechar,

Postgres doesn't actually support being run as the root user. A snippet from the [documentation](https://www.postgresql.org/docs/13/app-initdb.html) is as follows:

As a course of best practice I'd suggest running your tests as a non root user as well?

Finally if you still believe some functionality around adding `sudo` in front of the `initDB` functionality then feel free to op

[2021-02-15 01:05] #17 closed

[2021-02-15 01:37] fergusstrange commented on #15
Closing due to inactivity.

Feel free to reopen should you have a crack at opening a PR for this.

[2021-02-15 01:37] #15 closed

[2021-02-19 18:59] thetruechar commented on #17
So how can we use this in docker based ci system?

[2021-02-21 04:12] fergusstrange commented on #17
I'd recommend building a custom image on top of the official GoLang image with a non privileged user. I've tested the below docker file which you can build and reuse against this repositories tests all looking good.

[code]

Build with `docker build -t golang-ci .`

Run your tests with docker run `docker run -it -v $(pwd):/go/src/yourrepo golang-ci go test -v ./...`

Best of luck and let me know i

[2021-02-25 14:15] bearsh opened #18 "Better support for using as application database"
I just stumbled on this project which is kind of what I've been looking for a long to easily use postgres without caring about the installation of the server.

But there are some points which are rather unfortunate to use the lib as-is in a project other than for tests.
1. Start method is a monolith
   - db data directory is erased on each start
   - db is initialized each time
   - db is created

[2021-02-28 01:59] #10 closed

[2021-02-28 02:01] fergusstrange commented on #18
Absolutely. Have left a few comments on PR. Keen to minimise configuration to keep the project as simple as possible but this would definitely help out a few of our existing and future users.

Thanks

[2021-03-02 09:56] #18 closed

[2021-03-02 10:20] fergusstrange commented on #18
Thanks for all your work @bearsh. I've snapped a release @ https://github.com/fergusstrange/embedded-postgres/releases/tag/v1.4.0

[2021-03-02 10:20] fergusstrange commented on #15
Hi @erichanson,

Better late than never but this may be of use to you https://github.com/fergusstrange/embedded-postgres/releases/tag/v1.4.0

[2021-03-04 21:58] erichanson commented on #15
Hey that's great!  Thanks!

[2021-03-06 00:35] ehsanonline opened #21 "Postgres extensions"
Is it possible to install and use Postgres extensions? if yes, how? I need [AGE](https://github.com/apache/incubator-age) specifically.

[2021-03-08 08:11] fergusstrange commented on #21
Hi @ehsanonline,

The database starts and the runtime path is accessible so it would definitely be possible to move precompiled binaries into this location.

This isn't something I think we'd support in the short term but absolutely something that should be considered as part of a post runtime installation stage. In this case I'd imagine it acting like a generic plugin phase that you could provide

[2021-03-10 00:33] #21 closed

[2021-05-19 10:27] dmeyer22 opened #29 "Panic leads to stuck process/process not being closed."
Hey, awesome work so far, I tried the library, the issue I had is, if the test code is panicking the process will never be killed, even using recover did not work for me. The test were just stuck. And I had a postgres process blocking the configured port which needs to be killed manually.

Any advice?

What I tried from a setup point of view is the following, but the test still got stuck on panic

[2021-05-19 11:41] fergusstrange commented on #29
Hey @dmeyer22,

This should be possible to guard against using the following style of code. You can put it in a TestMain as well, just make sure your `m.Run()` sits inside an anonymous function block in order to defer the recovery function ahead of it.

I'll also add the following coverage to our tests in order to help others with this approach.

[code]

Let me know if you need any other help and

[2021-05-19 12:15] dmeyer22 commented on #29
Thanks for the quick reply if I understand your suggestion correctly you mean like this in my case:
[code]

I can confirm you suggestion works but not together with `m.Run()` it still gets stuck for me.

[2021-05-20 00:02] fergusstrange commented on #29
Hi @dmeyer22,

Apologies I'd actually forgotten that TestMain throws an [unrecoverable panic](https://github.com/golang/go/issues/37206) if there is a panic inside any of the test code. This is by design, if somewhat inconvenient at times.

The general approach I've seen for this is something as follows, which can easily be tweaked for cleaner separation of tests and readability.

[code]

Let me k

[2021-05-21 03:01] fergusstrange commented on #29
I updated to include actually using the t.Run() function which really improves readability in certain IDEs.

[2021-06-07 03:24] #29 closed

[2021-06-20 11:11] royKarseboom opened #33 "Custom logger prevent .Start() function from returning"
Hi, I'm trying to pass a custom logger to the embedded postgres,
for some reason doing so causes the process to not return after `.Start()` function of embedded postgres.
I'm posting the code and it's output.

[code]

[code]

thanks!

[2021-06-22 12:18] fergusstrange commented on #33
Hey @royKarseboom.

This might need documenting a little more clearly so thank you for raising the question...

The underlying issue revolves around our usage of Cmd within exec https://golang.org/pkg/os/exec/#Cmd specifically around the following

[code]

The best work around is to use a temporary file (in memory even). The following code should help you...

[code]

Will this help with what you a

[2021-07-03 01:04] #33 closed

[2021-07-19 04:45] 651016236 opened #34 "running bootstrap script ... 2021-07-19 12:44:51.046 CST [54607] FATAL: semctl(65600, 16, SETVAL, 536) failed: Invalid argument"
os mac bigsure
running bootstrap script ... 2021-07-19 12:44:51.046 CST [54607] FATAL:  semctl(65600, 16, SETVAL, 536) failed: Invalid argument

[2021-07-19 05:40] #34 closed

[2021-07-23 08:12] mbfr opened #35 "Allow specifying a custom RemoteFetchStrategy/CacheLocator ?"
Not sure if I'm missing something from reading the source code, but it seems that although these two types are exported it's impossible to actually use a custom implementation because these fields are private on the EmbeddedPostgres struct.

My use case is that I want to be able to use a pre-downloaded postgres binary (or at least download from a different URL that I control).

[2021-07-23 11:03] fergusstrange commented on #35
Hey @mbfr, thanks for raising this. You are correct, this is actually only really exposed internally for testability.

Happy for you to raise a PR with this as a config value that overrides the default config, as long as the API remains backwards compatible. For your use case it seems like that should cover it?

[2021-08-19 00:40] #35 closed

[2021-09-15 14:42] divo77 opened #40 "Logger parametr does'twork correctly"
Hey... I figured out that when I do something like
.......
logger, _ := zap.NewProduction()
defer logger.Sync()
logger.Info("failed to fetch URL",
  // Structured context as strongly typed Field values.
  zap.String("url", url),
  zap.Int("attempt", 3),
  zap.Duration("backoff", time.Second),
)
....
**w := &zapio.Writer{Log: logger}**

......
	database := embeddedpostgres.NewDatabase(embeddedpostg

[2021-09-18 08:51] fergusstrange commented on #40
Hey @divo77,

Thanks for raising this, it's a known limitation.

I've made a few changes in a PR https://github.com/fergusstrange/embedded-postgres/pull/41 which you could try against your local implementation using the commit latest SHA as a version.

If all looks good we'll merge this and get it released.

Thanks

[2021-09-22 14:19] divo77 commented on #40
THANKS A LOT. Tested it today and it works fine.

[2021-09-25 13:55] naveensrinivasan opened #43 "Move away from https://github.com/mholt/archiver"
The https://github.com/mholt/archiver repository hasn't been getting much attention. https://github.com/mholt/archiver/issues/283

Especially with the CVE like this and when it isn't maintained https://deps.dev/go/github.com%2Fmholt%2Farchiver%2Fv3 it gets harder for the downstream.

A suggestion would be is to fork that repository and use the fork.

Thank you!

[2021-09-28 11:53] naveensrinivasan opened #44 "Upgrade to a newer version of Go"
As of writing, this issue go `1.17` is the latest version.

Go does support version 1 version from the release version which is `1.16`

https://github.com/fergusstrange/embedded-postgres/blob/2eb4b671b274e784601b1c0f708be956b9c7731a/go.mod#L3

[2021-09-28 16:12] fergusstrange commented on #44
@naveensrinivasan we are aiming to support back a number of GoLang versions from the currently released. As it stands we support approximately 3 years of GoLang releases, and will probably aim to keep this the same.

Upgrading GoLang versions would only offer more language features which we are not desperate for currently as well. When generics is made available we will reconsider this and likely

[2021-09-28 16:12] #44 closed

[2021-09-29 10:19] fergusstrange commented on #43
Thanks @naveensrinivasan,

This has been on the radar for a while and I will have a look at removing both dependencies and utilising a vendored https://github.com/xi2/xz in order to do our decompression. This will actually mean we have zero dependencies for production code as well as a side benefit.

[2021-09-29 13:16] naveensrinivasan commented on #43
Great! Thanks for the update. This is a great framework https://slsa.dev backed by LinuxFoundation

[2021-09-29 21:18] divo77 commented on #40
just used a version v1.10.0 and the issue wasn't fixed. Can you move the fix to the official release ?

[2021-10-03 11:07] fergusstrange commented on #40
A little sluggish but finally cut this release after some manual testing.

Release found @ https://github.com/fergusstrange/embedded-postgres/releases/tag/v1.11.0

Thanks @divo77

[2021-10-03 11:07] #40 closed

[2021-10-03 11:07] fergusstrange commented on #43
Thanks @naveensrinivasan release cut https://github.com/fergusstrange/embedded-postgres/releases/tag/v1.11.0

[2021-10-03 11:07] #43 closed

[2021-10-05 18:37] nathanfranke opened #45 "Running multiple tests in parallel causes an error"
[code]

[2021-10-06 05:35] fergusstrange commented on #45
Hey @nathanfranke,

This is possible however the tests would need to either run with different port and runtime directory as [demonstrated here](https://github.com/fergusstrange/embedded-postgres/pull/46/files) or if you wish to actually reuse the same Postgres instance you'll need to start and stop separately from your test flow doing something like [this](https://github.com/fergusstrange/embedde

[2021-10-06 07:14] nathanfranke commented on #45
Currently I'm using -p 1 to run the tests in series. However it would be nice if the directory used is random to avoid this issue

[2021-10-06 10:18] fergusstrange commented on #45
You should be able to achieve this already with something like

[code]

This flexible config allows you to maintain the logic yourself. This is something we probably won't be looking to add to the library logic itself.

Thanks

[2021-10-06 15:02] mishas opened #47 "CVE-2020-16845 still occurs on dependant products"
Hello @naveensrinivasan and @fergusstrange ,

I just updated embedded-postgres to v1.11.0, and I still get the `github.com/ulikunitz/xz@v0.5.6` dependency in my go.sum (after `go mod tidy`).

I think the reason for this is, that in #42 , you've used a `replace` directive, that only does something local, instead of a `require` (`// indirect`) directive that would affect projects depending on yours.

[2021-10-09 02:16] #45 closed

[2021-11-06 07:00] glserranv opened #53 "Unable to test with github actions"
I have set up in my local some test and been able to run them. Works fine. Now I am trying to run them on github actions but I get an error. I have check the code it seems an issue when trying to get the .txz file inside the jar.

I get this error ` panic: error fetching postgres: cannot find binary in archive retrieved from https://repo1.maven.org/maven2/io/zonky/test/postgres/embedded-postgres-b

[2021-11-11 10:36] fergusstrange commented on #53
Hi @glserranv,

Are you still seeing these issues? I've not been able to replicate the issue you're seeing above but it does suggest we could do with some better error messaging in general which I will take up as a task over the coming releases.

I've created a repo and produced a green build which you can see here: https://github.com/fergusstrange/test-project/actions

This has highlighted that p

[2021-11-11 15:14] glserranv commented on #53
Hi ,I was able to solve it. I am not sure what the issue was but I got this error by running this before my test `go get -u github.com/fergusstrange/embedded-postgres` However my db was not being instantiated and I solved it by adding env variables.

`LC_ALL: en_US.UTF-8
  LC_CTYPE: en_US.UTF-8`

[2021-11-11 15:17] #53 closed

[2021-11-15 14:36] survivorbat opened #54 "Cannot find binary in archive"
Hey all, stumbled upon this repository and decided to give it a try.

Unfortunately the following snippet does not seem to work me.

[code]

This gives me the error `error fetching postgres: cannot find binary in archive retrieved from https://repo1.maven.org/maven2/io/zonky/test/postgres/embedded-postgres-binaries-linux-amd64/12.8.0/embedded-postgres-binaries-linux-amd64-12.8.0.jar`

`go version`

[2021-11-16 18:04] khaledious commented on #54
I am having the same issue on windows, ` test panicked: error fetching postgres: cannot find binary in archive retrieved from https://repo1.maven.org/maven2/io/zonky/test/postgres/embedded-postgres-binaries-windows-amd64/12.8.0/embedded-postgres-binaries-windows-amd64-12.8.0.jar`

[2021-11-16 18:11] khaledious commented on #54
This might just be a poor error disc,
[code]
Looks like it is thrown if there are any errors reading any of the files.

[2021-11-16 22:17] survivorbat commented on #54
@fergusstrange @naveensrinivasan do you perhaps know why this is happening? Can I do something to fix this?

[2021-11-19 21:42] mikes-br commented on #54
I think you need to set your Binaries Path explicitly on non-linux OSes. The defaults use $USER_HOME which works on Linux but not Windows or Darwin by default

[2021-11-19 22:15] mikes-br commented on #54
I got past this problem by creating a separate Binaries Path from the Runtime Path, and then manually extracting the binaries to the location specified as the binaries path. I'm unfortunately still screwed because I have an M1 Macbook with Apple Silicon and there aren't binaries on mavencentral for my architecture. I'm trying to figure out how to build my own postgres into my cache forlder now. Bu

[2021-11-20 11:17] gedw99 commented on #54
works on Intel mac using basic example.

[2021-11-20 11:37] gedw99 opened #55 "defer not working, and so DB not getting shutdown."
Can someone help me with why this code does not call the embeddedPostgres.Stop() ?

There is a sleep forever to simulate work being done.

This also means that on the 2nd run, the execution fails with:
[code]

[code]

[2021-11-20 11:40] gedw99 commented on #54
AMR MAC is here: https://www.postgresql.org/download/macosx/

[2021-11-20 12:18] gedw99 commented on #54
find my $USER_HOME on intel mac. But not on arm mec ?

[2021-11-20 13:06] gedw99 commented on #54
So its looks like eventually we will get universal binaries for mac..

SO the golang code that downloads might have to incorporate the logic of it:
quasi example:
https://github.com/zonkyio/embedded-postgres/commit/ce6256ea4fced93b378a0f92cdc54f92a35b80cc

[2021-11-20 13:55] survivorbat commented on #54
I've fixed it in my own fork by iterating over the files in the archive and just unpacking the file with the '.txz' suffix. The real error that occurs - which is hidden behind the pretty one- is 'EOF'. This bandage fix seems to work on linux and mac so far. The unpacking is where the issue occurs.

@mikes-br I'm sorry I don't understand what you mean exactly, I'm using Ubuntu (Linux) which accordi

[2021-11-20 13:57] survivorbat commented on #55
The only way of stopping your program during the infinite block is to terminate it in the terminal, right? I don't think that immediate shutdown accounts for defers.

I do think it'll work if the sleeping block panics at any point.

[2021-11-22 02:23] fergusstrange commented on #55
Hi @gedw99 the way GoLang works, that defer statement will only run once the main method completes. In this case you have another method blocking forever which will prevent the `main()` method from completing and the defer being run. As mentioned by @survivorbat this won't be called if you close your program forcefully with ctrl + c or any other forceful method.

Here's a [great guide to how defer

[2021-11-22 02:23] #55 closed

[2021-11-22 02:32] fergusstrange commented on #54
Hi all,

Seems like there's a few things going on in this thread, but doing my best to unpack:

- Better logging on extraction failure
- Look into support for better logging on new Mac ARM, with rosetta emulation support by default
- Longer term support for Mac ARM when the packages are available on Maven
- Some issues which I'm struggling to reproduce around conflicting binaries path and the defa

[2021-11-23 04:47] fergusstrange commented on #47
Hey @mishas this is now merged in and appears to be working well on a number of my own projects. I have released at [v1.11.0](https://github.com/fergusstrange/embedded-postgres/releases/tag/v1.11.0) if you wanted to give it a try!

Thanks for all the feedback and patience, this was probably the longest running PR we've had!

[2021-11-23 04:47] #47 closed

[2021-11-23 05:10] mishas commented on #47
Thank you very much!
Appreciate it!

[2021-11-24 00:02] mikes-br commented on #54
Sorry @survivorbat I was replying to the Windows user. You're correct that $USER_HOME should work on most linux distributions and that my answer wasn't helpful to you the o.p.

[2021-11-24 11:23] gedw99 commented on #54
thanks for picking up on this @fergusstrange

On intel mac it works, but in my code i had issues with defer in terms of shutting down the DB cleanly.

[2021-11-25 06:45] survivorbat commented on #54
Hey all, the latest problem fixed the issue, it now downloads like it's supposed to.

If the work items described above are picked up, this issue can be closed. Thanks for the comments.

[2021-11-25 09:23] gedw99 commented on #55
thanks for the tips. Will try out your suggestions and let you know !!

[2021-11-25 11:40] gedw99 commented on #54
Thanks for the quick turnaround.

will give it a try on Intel Mac

Should I raise a different issue regarding Arm Mac ? So we can isolate the jumbled up things raised in this issue .

[2021-11-25 11:44] gedw99 opened #56 "Support Intel and Arm MAC"
Note: this issue is created to isolate from the other issues that per affected on Linux and windows.

Look into support for better logging on new Mac ARM, with rosetta emulation support by default.

Longer term support for Mac ARM when the packages are available on Maven.

[2021-11-25 11:45] gedw99 commented on #54
Issue isolated to Intel and Arm MAC is now here: https://github.com/fergusstrange/embedded-postgres/issues/56

hope that’s ok

[2021-11-25 11:56] gedw99 opened #57 "Downloader for binary dependencies"
Just adding this link because this is a generic golang downloader with a generic cli with it

https://github.com/amplify-edge/booty/tree/master/internal/downloader

might be useful for this project .

it works on all Operating systems and with a variety of sources .

[2021-11-25 19:04] survivorbat commented on #54
Closing this issue since the issue is fixed

[2021-11-25 19:04] #54 closed

[2021-12-03 10:24] goguson commented on #56
Personally,i can run tests, but currently I am unable to debug code with embedded postgres running

[2021-12-06 12:35] EldarKurbanov opened #58 "Goroutine leak on database connect"
The goroutine detector in my project detected a goroutine leak when I started using this library. I think I found the leak location - it's not closed connections here:

https://github.com/fergusstrange/embedded-postgres/blob/master/prepare_database.go#L66

and

https://github.com/fergusstrange/embedded-postgres/blob/master/prepare_database.go#L107

[2021-12-10 01:38] fergusstrange commented on #57
Thanks for the suggestion, I will look into this next time we're around that code.

[2021-12-10 01:38] #57 closed

[2021-12-10 06:30] goguson commented on #56
I can help you with my M1 I guess :D Lemme know when you have time and how to contact you further

[2021-12-10 20:19] mihaiav opened #60 "Description is misleading"
This is not a an embedded, in-memory postgres database in Go. It's a Java database with a Go wrapper.

[2021-12-11 01:19] fergusstrange commented on #60
Hi @mihaiav this is not actually the case, there is no java involved at all.

It is a real Postgres database, running natively on your machine. If you pause the app you will see the process running in the background.

There may be some confusion as we download `.jar` files, but these are simply `.zip` files with our Postgres native dependencies inside them. You can view these here: https://mvnrepo

[2021-12-11 01:19] #60 closed

[2021-12-17 23:03] goguson commented on #56
[Here](https://github.com/fergusstrange/embedded-postgres/pull/62) I added support for 14.1.0 binaries, which solved my issue with running db in debug mode on M1 Mac, which IMO is important. Please take a look @fergusstrange.

[2022-01-09 01:43] fergusstrange commented on #56
I couldn't work out how to add you directly to the Pull Request @goguson but here is the upgraded Postgres Versions outside of v14 (which I believe are not actually fat binaries and thus shouldn't work still on Mac M1) https://github.com/fergusstrange/embedded-postgres/pull/63/commits/1ad81be9145831bdf3a1d54eacd7c23edcc18ebb

If you could just do a `go test ./...` inside the repository root, examp

[2022-01-10 10:19] goguson commented on #56
Today/tomorrow I will check and let you know about the result

[2022-01-15 03:28] fergusstrange commented on #56
@goguson I've merged the PR and releasing a [new version](https://github.com/fergusstrange/embedded-postgres/releases/tag/v1.13.0) which you can now use for testing. Let me know how you go and if I need to put in a bit more work to get the older versions working.

[2022-02-06 09:49] #58 closed

[2022-02-06 09:52] fergusstrange commented on #56
Hey @goguson closing this, let me know if we need to re-open!

[2022-02-06 09:52] #56 closed

[2022-02-18 07:43] bulanovk opened #66 "Support custom maven central repo for Binary Download"
To work behind corporate firewall it should be possible to specify maven central mirror for downloading Binaries.

[2022-03-02 03:57] #66 closed

[2022-03-11 01:49] jeremybusk opened #69 "Issues changing defaults via DefaultConfig()"
I'm trying to change the defaults via DefaultConfig and is not working as per README.
Maybe you can point me in the right direction.

[code]

[code]

[code]

Any idea what I'm doing wrong? Thanks! Great project BTW!

[2022-03-11 03:37] jeremybusk commented on #69
Got it figured out. Here is some example code that for those interested.

[code]

[2022-03-11 03:37] #69 closed

[2022-03-22 00:24] fergusstrange commented on #69
Alas, that looks like I've missed some important documentation. Thanks for this @jeremybusk I'll get the README updated.

[2022-05-25 19:33] jfigus opened #71 "unable to extract postgres archive: xz: data is truncated or corrupt"
When using embedded-postgres in a docker container we sometimes see the following error:

`Failed to start embedded postgres: unable to extract postgres archive: xz: data is truncated or corrupt
`
Perhaps there's a timing error in the code that fetches the jar file from maven and extracts the embedded .tgz file containing the postgres binaries.

[2022-05-28 03:45] fergusstrange commented on #71
Thanks @jfigus. I suspect the fetch code could do with some added validation and error handling / messaging.

Do you have some details so that I can try to reproduce this? What docker container are you using? Are you running in CI or locally? Do you have a copy of the downloaded `.tar.gz` file that we could utilise for test purposes?

Thanks

[2022-05-31 13:15] jfigus commented on #71
Thanks for taking a look. We're using Cenos7.  We're using v11.15 of postgres, which means the tar file is taken from here:
https://repo1.maven.org/maven2/io/zonky/test/postgres/embedded-postgr
es-binaries-linux-amd64/11.15.0/embedded-postgres-binaries-linux-amd64-11.15.0.jar

I haven't been able to recreate the problem running docker locally. It's happening in our CI/CD environment, which is runn

[2022-06-01 23:57] fergusstrange commented on #71
That's a great solution to the problem, awesome stuff!

This may be a bit of a slow burner as I try to reproduce. I suspect I'll need to write some tests that bung back a bad `.jar` or something as I'll likely never be able to actually reproduce.

Also happy to take PRs if you're confident you know how to solve the problem?

I'll keep you posted on progress.

[2022-06-10 22:39] fergusstrange commented on #71
Hey @jfigus I've taken a look and it seems that if there was a throttling request it's likely this line would have failed https://github.com/fergusstrange/embedded-postgres/blob/7bf3aab2dca3964165ded64585e2516791c88876/remote_fetch.go#L42.

I'm now looking into adding some retries and better error messaging in order to help debug the issue.

[2022-06-11 06:51] fergusstrange commented on #71
Hey @jfigus probably the first step to resolving this is verifying that the download was successful, after this we can then implement some retry logic potentially. I think it's probably safe to add this without configuration.

See what you think of this [pull request](https://github.com/fergusstrange/embedded-postgres/pull/73).

Tah

[2022-06-14 01:16] fergusstrange commented on #71
Nice one @jfigus, thanks for review.

Released https://github.com/fergusstrange/embedded-postgres/releases/tag/v1.17.0

I'll leave this open meanwhile to see if this is indeed where the error occurs, if you could test in your CI that would be great.

Next step some retry logic should we discover the root cause.

[2022-06-14 10:38] DisinS opened #74 "Specify encoding while init database"
Is it possible to define the database encoding via arguments in the configuration?

[2022-06-15 04:31] fergusstrange commented on #74
Not currently but, definitely be open to adding this feature via a pull request if necessary. I can investigate but it may take some time.

As a work around you may be able to create your secondary database once the init process has completed.

[2022-06-15 10:28] DisinS commented on #74
It would be awesome to have it. The whole package is great and that is the only thing that I have a problem with.

[2022-06-18 11:30] dor-utila opened #76 "Allow creating the default database as a Template"
https://www.postgresql.org/docs/current/manage-ag-templatedbs.html

[2022-06-26 05:23] fergusstrange commented on #71
Hey @jfigus any failures over the last 10 days?

[2022-06-26 05:24] fergusstrange commented on #76
Probably not something we'll actively look to integrate as this can be managed "post" database starting and should mimic as close to a fresh install of Postgres as possible.

Have you tried utilising some sort of migration libraries to achieve the above?

[2022-06-27 15:41] jfigus commented on #71
Looks good.  I'll close this ticket.

[2022-06-27 15:41] #71 closed

[2022-07-06 16:49] dor-utila opened #78 "Add error info when 'unable to init db'"
Currently, I get this error, without any useful information:
[code]

[2022-07-16 15:11] pjebs opened #79 "Cgo?"
Does this package require cgo enabled?
Is it equivalent to an actual postgres server or a substitute with most of the same features and behaviours?

[2022-07-19 00:22] fergusstrange commented on #79
Hi,

No CGO is not required to run. The C binaries that are used are all precompiled for the chosen operating system.

The server run is an _actual_ Postgres server as described in the README.

[2022-07-19 00:22] #79 closed

[2022-07-19 00:22] #76 closed

[2022-08-05 09:40] sneko opened #82 "Any logger example to only process stderr?"
Hi,

At first use I saw a lot of logs in my tests due to the DB setup so I decided to discard them with:
[code]

Quick questions:
- is there any reason to maintain them since the client errors should give some insights in case of failures?
- if so, do you have a logger example where it would just catch errors from the server? Like catching only `stderr` and not `stdout`? But I'm not sure it's poss

[2022-08-09 00:25] fergusstrange commented on #82
Hey currently we capture all content from stdout and stderr as you can see [here](https://github.com/fergusstrange/embedded-postgres/blob/7bf3aab2dca3964165ded64585e2516791c88876/embedded_postgres.go#L187).

Short term quickest solution might be to provide your own logger interface that filters out lines that don't start with `ERROR:`.

Longer term I can look into adding a separate logger config p

[2022-08-09 00:25] #82 closed

[2022-08-09 00:27] #78 closed

[2022-08-10 17:07] kylecarbs opened #83 "Return an error instead of deleting data on upgrade"
When upgrading the version of PostgreSQL, all data was deleted. This seems like undesired user behavior because there's not a clear warning message that everything will be reset.

https://github.com/fergusstrange/embedded-postgres/blob/7bf3aab2dca3964165ded64585e2516791c88876/embedded_postgres.go#L112-L118

I think returning an error due to a data version mismatch PostgreSQL won't start is more ex

[2022-08-16 00:27] fergusstrange commented on #83
Hi @kylecarbs this tool is really intended for testing and was built from the ground up with that at the heart of the core design.

Initially we needed a "clean" instance of Postgres per test, which is generally good practice when testing so that your tests run in isolation.

For this reason we wouldn't really want to return an error, unless perhaps it was configured to do so.

What is your use ca

[2022-09-17 14:47] ljmatkins commented on #83
I would be interested in using this project to store state for a wails app (https://github.com/wailsapp/wails). @fergusstrange , would you advise against this?

[2022-09-18 20:56] kylecarbs commented on #83
@fergusstrange we're currently using `embedded-postgres` as a way for easy installations with Coder, which should work in production-like settings for small deployments.

Installing PostgreSQL just to try software is a pain, so we've used this lib to make the process simpler for our users.

[2022-09-21 09:57] fergusstrange commented on #83
@ljmatkins yes this is primarily written for testing.

[2022-09-21 09:57] #83 closed

[2022-10-09 10:22] fergusstrange commented on #78
Hey @OnigiriJack what embedded-postgres version/tag are you running? I assume it's https://github.com/fergusstrange/embedded-postgres/releases/tag/v1.5.0 as I think that matched Postgres 12.6.

[2022-10-09 10:36] fergusstrange commented on #78
Just confirmed this version is from before we had Alpine linux support, which was introduced in the very next version [1.6.0](https://github.com/fergusstrange/embedded-postgres/releases/tag/v1.6.0).

There's been lots releases since this even, so I'd recommend trying to stay up to date to get the best support. You can see all releases [here](https://github.com/fergusstrange/embedded-postgres/relea

[2022-10-25 16:15] bdoherty-tovala opened #86 "Issues with M1 ARM Macs"
Using version 19.0 which downloads `embedded-postgres` 14.5.0.

Currently the [`defaultVersionStrategy`](https://github.com/fergusstrange/embedded-postgres/blob/3f49b0df2af78200e3cc4cc511ed3f0876b304e6/version_strategy.go#L40) overrides detected ARM architectures to use the `amd64` architecture download for macs instead.

However this version seems to have some issues when running certain commands

[2022-10-31 18:54] technicallyty opened #87 "Unable to init database"
unable to init database using '/var/folders/70/rld0rwh92bg781zkxt1x6szh0000gn/T/TestProcessEvmEvent_IRIsExist1738323574/001/bin/initdb -A password -U postgres -D /var/folders/70/rld0rwh92bg781zkxt1x6szh0000gn/T/TestProcessEvmEvent_IRIsExist1738323574/001/data --pwfile=/var/folders/70/rld0rwh92bg781zkxt1x6szh0000gn/T/TestProcessEvmEvent_IRIsExist1738323574/001/pwfile': exit status 1

System Specs:

[2022-11-03 09:17] fergusstrange commented on #87
Hey @technicallyty. I've not seen this before but I am aware of some issues running with Apple M1.

Could you post the Go code you used to produce this error?

Have you also been able to try this on a non Apple M1 device?

[2022-11-03 09:19] fergusstrange commented on #86
This is a fantastic fix @bdoherty-tovala. Can you confirm your forked code has been working well for the last few weeks?

[2022-11-03 17:41] bdoherty-tovala commented on #86
Been working for me on an M1 mac and my colleagues on their Intel Macs. Hasn't broken anyone as far as I can tell :)

[2022-11-03 21:01] technicallyty commented on #87
here's the code which setups up the embedded pg
[code]

I have not

[2022-11-03 23:09] fergusstrange commented on #86
This is fantastic. I'll look to get those changes merged into master soon then. I'll leave this open to reference the work when done! Cheers

[2022-11-09 19:32] mchusovlianov commented on #87
I have similar issue on M2 chip:
[code]

[2022-11-10 07:52] mchusovlianov commented on #87
I don't resolve it. Just found this issue yesterday when moving to a new laptop. Decided to continue work in my old environment so far.

[2022-11-12 17:37] dcaf-mocha commented on #87
+1, having issues on the M1 Max. Any logs I can provide to help debug?

[code]

[2022-11-12 18:28] dcaf-mocha commented on #86
Hey @bdoherty-tovala curious how you got your fork to work I've tried `replace github.com/fergusstrange/embedded-postgres => github.com/tovala/embedded-postgres v0.0.0-20221103205757-5f8ea8a8920d` in my `go.mod`, but looking at my deps, I cant seem to see your changes in `version_strategy.go`

![image](https://user-images.githubusercontent.com/93599851/201489250-a0667695-1e83-491e-ad32-91c1c56379e

[2022-11-14 14:50] bdoherty-tovala commented on #86
@fergusstrange is this working for you yet?

[2022-11-25 07:36] Minsoo-Shin commented on #87
[code]
this is because that PostgreSQL's request for a shared memory segment exceeded your kernel's SHMALL parameter

we have to  configuring shared memory in macOS is to create a file named /etc/sysctl.conf,
https://www.postgresql.org/docs/13/kernel-resources.html